# sudo apt install python3.10-tk
numpy
opencv-python
pillow
tqdm
line_profiler
decord
PySide6

# From sam2
#torch -> commented because special version needed
#torchvision -> commented because special version needed
hydra-core
iopath
